.header {
    position: fixed;
    z-index: 200;
    width: 100%;
    height: var(--header-height);
    background-color: var(--color-bg-1);
}

.toolBar {
    position: relative;
    z-index: 200;
    height: 100%;
    width: 100%;
    background-color: var(--color-bg-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 110px;
    height: 20px;
}

.menuButton:hover {
    cursor: pointer;
}

.menu {
    display: flex;
    position: relative;
    z-index: 199;
    background-color: var( --color-neutral-dv);
    color: var(--color-bg-1);
    transition: all 0.4s ease-out;
   
}
.mobileOnly.menu{
    height: 100vh;
    padding-top: 16px;
    background-image: url("../../images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
}

.menu ul {
    
    width: 100%;
}

.menu li {
    width: 100%;
    height: 52px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.menu li a,
.menuBtn a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu li a {
    color: var(--color-bg-1);
}
.menu li a:hover {
    color: var(--color-primary-gb);
}
.menuBtn a {
    color: var(--color-bg-1);
    border: 1px solid var(--color-bg-1);
    transition: color 0.5s ease-out;
}
.menuBtn a:hover {
    background-color: var(--color-bg-1);
    color: var(--color-neutral-dv);
}


.open {
    transform: translateY(0)
}

.closed {
    transform: translateY(-100%)
}

.desktopOnly {
    display: none;
}

@media only screen and (min-width: 700px) {
    .desktopOnly {
        display: flex;
    }
    .mobileOnly {
        display: none;
    }
    .menu{
        background-color: var(--color-bg-1);
    }
    .menu li {
        height: 40px;
        margin-bottom: 0;
        width: auto;
        margin-left: 32px;
    }
    .menu li:first-child {
        margin-left: 0;
    }
    .menuBtn a {
        min-width: 150px;
    }
    .menu li a {
        color: var(--color-neutral-dv)
    }
    .menuBtn a {
        border: 1px solid var(--color-neutral-dv);
        color: var(--color-neutral-dv);
    }
    .menuBtn a:hover {
        background-color: var(--color-neutral-dv);
        color: var(--color-bg-1)!important;
    }
}