.footer {
    width: 100%;
    background-color: var(--color-neutral-vlg);
    padding: 85px 0;
    margin-top: 145px;
    background-image: url('../../images/bg-pattern-footer-mobile.svg');
    background-position: top;
    background-size: 100% 168px;
    background-repeat: no-repeat;
}

.logo_social {
    border-bottom: 1px solid var(--color-neutral-dgv);
}

.logo {
    margin-bottom: 30px;
}

.social_links {
    margin-bottom: 40px;
}

.social_links a:hover path{
    fill: var(--color-neutral-dv);
}

.social_links a:not(:first-child) {
    margin-left: 18px;
}

.menues {
    padding: 20px 0;
    font-size: 12px;
    text-transform: uppercase;
}

.menu {
    margin-bottom: 45px;
}

.menu p {
    margin-top: 20px;
    margin-bottom: 40px;
}

.menu li {
    margin-bottom: 20px;
}


@media only screen and (min-width: 600px) {
    .menues {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu {
        width: 250px;
    }
}

@media only screen and (min-width: 900px) {
    .footer {
        background-image: url('../../images/bg-pattern-footer-desktop.svg');
        background-position: top left;
        background-size: 510px 240px;
        background-repeat: no-repeat;
        padding-top: 0;
    }
    .menu {
        width: 400px;
    }
    .logo_social {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        height: 125px;
    }
    .logo,
    .social_links {
        margin-bottom: 0;
    }
    .logo .menu {
        width: 200px;
        text-align: left;
    }
}

@media only screen and (min-width: 1200px) {
    .menu {
        width: 250px;
        text-align: left;
    }
}